{include "inc_header.htm"}

{if action_result < 1}
<form method="post" action="{url.simple_url(0,'&amp;$URL_IDS='~ids)}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="tl_border">
	<h1 class="tl_topic">Status &auml;ndern</h1>
	<fieldset class="tl_form">
		<dl>
			<dt>Eintr&auml;ge:</dt>
			<dd>
				<ul>
				{loop entries as entry}
					<li>{entry:title}<span style="padding-left: 10px; font-size: 90%;">[ {entry:status} ]</span></li>
				{endloop}
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>Status:</dt>
			<dd>{form.get_combobox('status',status,'fixed')}</dd>
		</dl>
		<dl>
			<dt>Fixed-Version:</dt>
			<dd>
				{form.get_combobox('fixed_version',versions,def_version)}
				<div class="tl_desc">Nur bei "Status" = "Fixed"</div>
			</dd>
		</dl>
	</fieldset>
</div>
<center>
	<input type="button" value="Zur&uuml;ck" onclick="document.location.href = '{url.simple_url(-1)}';" />
	<input type="submit" value="Absenden" />
</center>
</form>
{endif}

{include "inc_footer.htm"}