{include "inc_header.htm"}

{if module_error == false}
<div class="tl_border">
	<h1 class="tl_topic">
	<span style="float: left;">
		<a href="{url.simple_url('changelog','&amp;$URL_MODE=export')}">Exportieren</a>
	</span>
	Changelog - {title}
	</h1>
	<table class="tl_table">
		{loop entries as entry}
		{if entry:show_version}
		<tr>
			<td colspan="2" class="tl_left" style="font-size: 130%">{entry:product_version}</td>
		</tr>
		{endif}
		<tr>
			<td class="tl_main" width="15%">{entry:date}</td>
			<td class="tl_main" width="85%">
			<img src="{user.get_theme_item_path('images/type/'~entry:type~'.gif')}" align="top"
					alt="{entry:type_text}" title="{entry:type_text}" />
			{entry:title}</td>
		</tr>
		{endloop}
	</table>
</div>
{endif}

{include "inc_footer.htm"}