{if delete_message}
<table width="100%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td class="tl_tbl_top_left"></td>
		<td class="tl_tbl_top"></td>
		<td class="tl_tbl_top_right"></td>
	</tr>
	<tr>
		<td class="tl_tbl_left"></td>
		<td>
		<table width="100%" cellpadding="2" cellspacing="1">
			<tr>
				<td align="center" class="tl_topic" height="22">Information</td>
			</tr>
			<tr>
				<td class="tl_main" align="center">
				{delete_message}
				<div style="padding-left: 40%;" align="left">
					{entries}
				</div>
				<br />
				<input id="del_yes" type="button" style="width: 50px;" name="option_yes" value="Ja"
							 onclick="document.location.href = '{yes_url}';" />
				&nbsp;
				<input id="del_no" type="button" style="width: 50px;" name="option_no" value="Nein"
							 onclick="document.location.href = '{no_url}';" />
				</td>
			</tr>
		</table>
		</td>
		<td class="tl_tbl_right"></td>
	</tr>
	<tr>
		<td class="tl_tbl_bottom_left"></td>
		<td class="tl_tbl_bottom"></td>
		<td class="tl_tbl_bottom_right"></td>
	</tr>
</table>
<br />
{endif}