{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}
<form method="post" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="tl_border">
	<h1 class="tl_topic">{form_title}</h1>
	<fieldset class="tl_form">
		{if not_multiple_edit}
		<dl>
			<dt>Titel *:</dt>
			<dd>{form.get_textbox('entry_title',def_title,90,255)}</dd>
		</dl>
		{else}
		<dl>
			<dt>Gew&auml;hlte Eintr&auml;ge:</dt>
			<dd>
				<ul>
				{loop selected_entries as entry}
					<li>{entry:entry_title}</li>
				{endloop}
				</ul>
			</dd>
		</dl>
		{endif}
		<dl>
			<dt>
			{if not_multiple_edit}
			Start-Version *:
			{else}
			{form.get_checkbox('use_start_version',0,1,'Start-Version')}:
			{endif}
			</dt>
			<dd>{start_version_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			Fixed-Version:
			{else}
			{form.get_checkbox('use_fixed_version',0,1,'Fixed-Version')}:
			{endif}
			</dt>
			<dd>{fixed_version_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			Kategorie *:
			{else}
			{form.get_checkbox('use_category',0,1,'Kategorie')}:
			{endif}
			</dt>
			<dd>{category_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			Typ *:
			{else}
			{form.get_checkbox('use_type',0,1,'Typ')}:
			{endif}
			</dt>
			<dd>{type_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			Geplante Umsetzung *:
			{else}
			{form.get_checkbox('use_priority',0,1,'Geplante Umsetzung')}:
			{endif}
			</dt>
			<dd>
				{priority_combo}
				<div class="tl_desc">In welcher Version wird der Eintrag voraussichtlich umgesetzt sein?</div>
			</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			Status *:
			{else}
			{form.get_checkbox('use_status',0,1,'Status')}:
			{endif}
			</dt>
			<dd>{status_combo}</dd>
		</dl>
		{if not_multiple_edit}
		<dl>
			<dt>Link:</dt>
			<dd>
				{form.get_textbox('entry_info_link',def_info_link,90,255)}
				<div class="tl_desc">F&uuml;r weiterf&uuml;hrende Informationen o.&auml;. kannst Du hier einen Link angeben.</div>
			</dd>
		</dl>
		<dl>
			<dt>Beschreibung:</dt>
			<dd>
				{form.get_textarea('entry_description',def_description,'90%',200)}
			</dd>
		</dl>
		{endif}
		{if mode == 'edit'}
		<dl>
			<dt>Datum der letzten &Auml;nderung aktualisieren:</dt>
			<dd>{form.get_radio_yesno('change_lastchange_date',1)}</dd>
		</dl>
		{endif}
	</fieldset>
</div>
<center>
	<input type="button" value="Zur&uuml;ck" onclick="document.location.href='{back_url}'" />
	<input type="submit" name="submit" value="{submit_title}" />
</center>
</form>
{endif}
{endif}

{include "inc_footer.htm"}