{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}
<form method="post" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="tl_border">
	<h1 class="tl_topic">{form_title}</h1>
	<fieldset class="tl_form">
		<dl>
			<dt>Titel:</dt>
			<dd>{form.get_textbox('project_name',def_name,40,255)}</dd>
		</dl>
		<dl>
			<dt>Abk&uuml;rzung:</dt>
			<dd>{form.get_textbox('project_name_short',def_name_short,8,10)}</dd>
		</dl>
		<dl>
			<dt>Start:</dt>
			<dd>{form.get_date_chooser('start_',def_start,false)}</dd>
		</dl>
		{if mode == 'edit'}
		<dl>
			<dt>Versionen:</dt>
			<dd>
				{versions}
				<input type="button" value="Version hinzuf&uuml;gen" style="margin-top: 3px;"
					   onclick="document.location.href = '{add_version_url}';" />
			</dd>
		</dl>
		<dl>
			<dt>Kategorien:</dt>
			<dd>
				{categories}
				<input type="button" value="Kategorie hinzuf&uuml;gen" style="margin-top: 3px;"
					   onclick="document.location.href = '{add_category_url}';" />
			</dd>
		</dl>
		{endif}
	</fieldset>
</div>
<center>
	<input type="button" value="Zur&uuml;ck" onclick="document.location.href='{url.simple_url('view_projects')}'" />
	<input type="submit" name="submit" value="{submit_title}" />
</center>
</form>
{endif}
{endif}

{include "inc_footer.htm"}