{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}
<form method="post" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="tl_border">
	<h1 class="tl_topic">{if mode == 'edit'}{#Edit project#}{else}{#New project#}{endif}</h1>
	<fieldset class="tl_form">
		<dl>
			<dt>{#Title#}:</dt>
			<dd>{form.get_textbox('project_name',def_name,40,255)}</dd>
		</dl>
		<dl>
			<dt>{#Shortcut#}:</dt>
			<dd>{form.get_textbox('project_name_short',def_name_short,8,10)}</dd>
		</dl>
		<dl>
			<dt>{#Start#}:</dt>
			<dd>{form.get_date_chooser('start_',def_start,false)}</dd>
		</dl>
		{if mode == 'edit'}
		<dl>
			<dt>{#Versions#}:</dt>
			<dd>
				{versions}
				<div><input type="button" value="{#Add version#}" style="margin-top: 3px;"
					   onclick="document.location.href = '{add_version_url}';" /></div>
			</dd>
		</dl>
		<dl>
			<dt>{#Categories#}:</dt>
			<dd>
				{categories}
				<div><input type="button" value="{#Add category#}" style="margin-top: 3px;"
					   onclick="document.location.href = '{add_category_url}';" /></div>
			</dd>
		</dl>
		{endif}
	</fieldset>
</div>
<center>
	<input type="button" value="{#Back#}" onclick="document.location.href='{url.simple_url('view_projects')}'" />
	<input type="submit" name="submit" value="{#Save#}" />
</center>
</form>
{endif}
{endif}

{include "inc_footer.htm"}