{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}
<form method="post" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="tl_border">
	<h1 class="tl_topic">
	{if mode == 'edit'}
	{if not_multiple_edit}Edit entry{else}Edit entries{endif}
	{else}
	New entry
	{endif}
	</h1>
	<fieldset class="tl_form">
		{if not_multiple_edit}
		<dl>
			<dt>{#Title#} *:</dt>
			<dd>{form.get_textbox('entry_title',def_title,90,255)}</dd>
		</dl>
		{else}
		<dl>
			<dt>{#Selected entries#}:</dt>
			<dd>
				<ul>
				{loop selected_entries as entry}
					<li>{entry:entry_title}</li>
				{endloop}
				</ul>
			</dd>
		</dl>
		{endif}
		<dl>
			<dt>
			{if not_multiple_edit}
			{#Start-version#} *:
			{else}
			{form.get_checkbox('use_start_version',0,1,#Start-version#)}:
			{endif}
			</dt>
			<dd>{start_version_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			{#Fixed-version#}:
			{else}
			{form.get_checkbox('use_fixed_version',0,1,#Fixed-version#)}:
			{endif}
			</dt>
			<dd>{fixed_version_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			{#Category#} *:
			{else}
			{form.get_checkbox('use_category',0,1,#Category#)}:
			{endif}
			</dt>
			<dd>{category_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			{#Type#} *:
			{else}
			{form.get_checkbox('use_type',0,1,#Type#)}:
			{endif}
			</dt>
			<dd>{type_combo}</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			{#Planned realization#} *:
			{else}
			{form.get_checkbox('use_priority',0,1,#Planned realization#)}:
			{endif}
			</dt>
			<dd>
				{priority_combo}
				<div class="tl_desc">{#In what version do you plan to realize this entry?#}</div>
			</dd>
		</dl>
		<dl>
			<dt>
			{if not_multiple_edit}
			{#State#} *:
			{else}
			{form.get_checkbox('use_status',0,1,#State#)}:
			{endif}
			</dt>
			<dd>{status_combo}</dd>
		</dl>
		{if not_multiple_edit}
		<dl>
			<dt>{#Link#}:</dt>
			<dd>
				{form.get_textbox('entry_info_link',def_info_link,90,255)}
				<div class="tl_desc">{#For further informations or similar#}</div>
			</dd>
		</dl>
		<dl>
			<dt>{#Description#}:</dt>
			<dd>
				{form.get_textarea('entry_description',def_description,'90%',200)}
			</dd>
		</dl>
		{endif}
		{if mode == 'edit'}
		<dl>
			<dt>{#Refresh last-change-date#}:</dt>
			<dd>{form.get_radio_yesno('change_lastchange_date',1)}</dd>
		</dl>
		{endif}
	</fieldset>
</div>
<center>
	<input type="button" value="{#Back#}" onclick="document.location.href='{back_url}'" />
	<input type="submit" name="submit" value="{#Save#}" />
</center>
</form>
{endif}
{endif}

{include "inc_footer.htm"}