<br />
<table width="100%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td class="tl_tbl_top_left"></td>
		<td class="tl_tbl_top"></td>
		<td class="tl_tbl_top_right"></td>
	</tr>
	<tr>
		<td class="tl_tbl_left"></td>
		<td>
		<table width="100%" cellpadding="2" cellspacing="1">
			<tr>
				<td class="tl_main_no_pad">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="30%" class="tl_main">
						<b>{time}</b> Sek., <b>{queries}</b> Qrys., <b>{memory}</b> memory-usage
						</td>
						<td width="40%" class="tl_main" align="center">{version}, &copy; Nils Asmussen 2006 - 2007</td>
						<td width="30%" class="tl_main">&nbsp;</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
		<td class="tl_tbl_right"></td>
	</tr>
	<tr>
		<td class="tl_tbl_bottom_left"></td>
		<td class="tl_tbl_bottom"></td>
		<td class="tl_tbl_bottom_right"></td>
	</tr>
</table>

</div>
</body>
</html>