{if messages}
<table width="100%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td class="tl_tbl_top_left"></td>
		<td class="tl_tbl_top"></td>
		<td class="tl_tbl_top_right"></td>
	</tr>
	<tr>
		<td class="tl_tbl_left"></td>
		<td>
		<table width="100%" cellpadding="2" cellspacing="1">
			<tr>
				<td align="center" class="tl_topic" height="22">{title}</td>
			</tr>
			<tr>
				<td class="tl_main" align="center" style="padding-top: 30px; padding-bottom: 30px;">
				{if errors}
				<span class="msg_error">{locale.lang('errors')}:</span>
				<ul>
					{loop errors as error}
					<li>{error}</li>
					{endloop}
				</ul>
				{endif}
				
				{if warnings}
				<span class="msg_warning">{locale.lang('warnings')}:</span>
				<ul>
					{loop warnings as warning}
					<li>{warning}</li>
					{endloop}
				</ul>
				{endif}
				
				{if notices}
				<span class="msg_notice">{locale.lang('notices')}:</span>
				<ul>
					{loop notices as notice}
					<li>{notice}</li>
					{endloop}
				</ul>
				{endif}
				
				{if links}
				<p style="padding-top: 10px;">
				{loop links as name => url}
				{if links.current > 0} &middot; {endif}
				<a class="tl_main" href="{url}">{name}</a>
				{endloop}
				</p>
				{endif}
				</td>
			</tr>
		</table>
		</td>
		<td class="tl_tbl_right"></td>
	</tr>
	<tr>
		<td class="tl_tbl_bottom_left"></td>
		<td class="tl_tbl_bottom"></td>
		<td class="tl_tbl_bottom_right"></td>
	</tr>
</table>
<br />
{endif}