<form method="post" action="{change_selected_project_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<a class="tl_button_big" style="float: left;" href="{url.simple_url(-1)}">Todo-Liste</a>
<a class="tl_button_big" style="float: left;" href="{url.simple_url('edit_entry','&amp;$URL_MODE=add')}">Neuer Eintrag</a>
<a class="tl_button_big" style="float: left;" href="{url.simple_url('changelog')}">Changelog</a>
<span style="line-height: 20px; float: left;">&nbsp;&middot;&nbsp;</span>
<a class="tl_button_big" style="float: left;" href="{url.simple_url('view_projects')}">Projekte</a>
<span style="float: right;">
Projekt: {selected_project_combo} <input type="submit" value="Go!" />
</span>
</form>

<br />
<br />
<div class="tl_body"><b>Position:</b> {location}</div>
<br />