{include "inc_header.htm"}
{include "inc_delete_message.htm"}

{if action_result < 1}
{if module_error == false}
<script type="text/javascript" src="{js.get_file('js/table_row_sel.js','fws')}"></script>
<script type="text/javascript">
<!--
var rowHL = new FWS_TableRowSelector('row_','check_');
//-->
</script>
<script type="text/javascript">
<!--
function showDeleteMessage()
{
	var ids = FWS_getDeleteIds('check_');
	if(ids == '')
		return;

	var url = 'index.php?action=ajax_delmsg&ids=' + ids + '&loc=view_projects';
	var onfinished = function(text) {
		FWS_replaceContent('delete_message_box',text);
		FWS_getElement('delete_message_box').style.display = 'block';
		window.scrollTo(0,0);
	};
	myAjax.sendGetRequest(url,onfinished);
}
//-->
</script>

<div class="tl_border">
	<h1 class="tl_topic">{#Projects#}</h1>
	<table width="100%" class="tl_table">
		<tr>
			<td width="36%" class="tl_left">{#Title#}</td>
			<td width="20%" class="tl_left" align="center">{#Shortcut#}</td>
			<td width="20%" class="tl_left" align="center">{#Start#}</td>
			<td width="12%" class="tl_left" align="center">{#Edit#}</td>
			<td width="12%" class="tl_left" align="center">{#Delete#}</td>
		</tr>
		{if num == 0}
		<tr>
			<td colspan="5" align="center" class="tl_main">{#No projects found#}</td>
		</tr>
		{endif}
		{loop projects as index => project}
		<tr id="row_{index}" class="hlRow">
			<td class="hlCol">{project:title}</td>
			<td class="hlCol" align="center">{project:shortcut}</td>
			<td class="hlCol" align="center">{project:start}</td>
			<td class="hlCol" align="center">
			<a class="hlCol"
				href="{url.simple_url('edit_project','&amp;$URL_MODE=edit&amp;$URL_ID='~project:id)}">{#Edit#}</a>
			</td>
			<td class="hlCol" align="center" onclick="rowHL.toggleRowSelected({index});">
			<input id="check_{index}" type="checkbox" name="delete[]" value="{project:id}" />
			</td>
		</tr>
		{endloop}
	</table>
</div>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="30%">&nbsp;</td>
		<td width="40%" align="center">
		<input type="button" value="{#Delete#}" onclick="showDeleteMessage();" />
		</td>
		<td width="30%" align="right">
		<a href="{url.simple_url('edit_project','&amp;$URL_MODE=add')}">{#Add project#}</a>
		&middot;
		<a href="javascript:rowHL.toggleAllSelected();">{#Invert selection#}</a>
		</td>
	</tr>
</table>
{endif}
{endif}

{include "inc_footer.htm"}