/* ------------ GENERAL ------------ */

body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 11px;
}

div#ajax_wait_bar {
	left: 0px;
	text-align: center;
	background-color: #008000;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
	border: 1px dotted #fff;
}

input,select,textarea {
	font-size: 11px;
	padding: 2px;
}

.keyword {
	background-color: #FFFF00;
	color: #000;
}

img {
	border: 0;
}

/* links */
a {
	text-decoration: none;
	color: #3F5E88;
}
a:hover {
	text-decoration: underline;
}

/* ------------ PADDING ------------ */

.tl_padtop {
	margin-top: 0.9em;
}

.tl_paddouble {
	margin-top: 2em;
}

.tl_padbottom {
	margin-bottom: 0.9em;
}

.tl_padbottom_big {
	margin-bottom: 1.5em;
}

/* ------------ FORMULARS ------------ */

fieldset.tl_form {
	padding: 0;
	margin: 0;
	border: 0;
}

fieldset.tl_form dl {
	padding: 0;
	margin: 0;
	margin-top: 1px;
	background-color: #dbdbdb;
}

fieldset.tl_form dt {
	display: block;
	margin: 0;
	float: left;
	padding: 0.5em;
	width: 21%;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

fieldset.tl_form dd {
	display: block;
	margin: 0;
	padding: 0.5em;
	margin-left: 23%;
	background-color: #ebebeb;
	vertical-align: middle;
}

/* ------------ PAGINATION ------------ */

.tl_pageno {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

.tl_pagecurrent {
	padding: 0px 4px;
	font-weight: bold;
}

.tl_pageno a {
	padding: 1px 4px;
}

.tl_pageno a:hover {
	background-color: #3F5E88;
	color: #fff;
	text-decoration: none;
}

/* ------------ ROW-HOVER ------------ */

td.hlCol {
	padding: 0.4em;
	background-color: #ebebeb;
}

tr.hlRow:hover td.hlCol {
	background-color: #f5f5f5;
}
td.hlCol_sel {
	padding: 0.4em;
	background-color: #FFBE5C;
}

/* ------------ THE DIFFERENT CONTENT-STYLES ------------ */

/* for the main content */
.tl_main {
	padding: 0.3em;
	background-color: #f6f6f6;
}

/* the columns on the left (if 2 column-layout) */
.tl_left {
	padding: 0.3em;
	font-size: 0.9em;
	background-color: #DBDBDB;
	font-weight: bold;
}

.tl_topic {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	padding: 0.3em;
	background-color: #637591;
	text-align: center;
}
h1.tl_topic {
	margin: 0;
	padding: 0.3em;
}

.tl_topic a {
	color: #fff;
	text-decoration: underline;
}
.tl_topic a:hover {
	text-decoration: none;
}

.tl_desc {
	padding-top: 0.3em;
	font-size: 0.9em;
}

/* ------------ TABLES ------------ */

table.tl_table {
	border-collapse: collapse;
	border-spacing: 2px;
}
table.tl_table td {
	border: 1px solid #bbb;
	padding: 0.3em;
}
table.tl_table th {
	background-color: #637591;
	border: 1px solid #bbb;
	color: #fff;
	padding: 0.3em;
}
table.tl_table th a {
	color: #fff;
	text-decoration: underline;
}
table.tl_table th a:hover {
	color: #fff;
	text-decoration: none;
}
td.tl_coldesc {
	font-weight: bold;
	background-color: #f0f0f0;
}

.tl_highlight {
	border: 2px solid #7a8ba9;
}

/* ------------ TABLE BORDER ------------ */

.tl_border {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 1px;
	border: 1px solid #7F90AE;
}

.tl_code {
	margin: 0.3em;
	padding: 0.3em;
	border: 1px dotted #999;
	background-color: #fff;
	font-family: monospace;
}

/* ------------ LISTS ------------ */

ul.tl_source {
	padding: 35px;
}
ul.tl_source li {
	margin: 0;
	padding: 0;
}

/* ------------ STATUS ------------ */

td.tl_status_open {
	padding: 4px 4px 4px 4px;
	background-color: #F8B4B4;
}

td.tl_status_running {
	padding: 4px 4px 4px 4px;
	background-color: #fff366;
}

td.tl_status_not_tested {
	padding: 4px 4px 4px 4px;
	background-color: #a8d742;
}

td.tl_status_fixed {
	padding: 4px 4px 4px 4px;
	background-color: #cceedd;
}

td.tl_status_not_reproducable {
	padding: 4px 4px 4px 4px;
	background-color: #CC99CC;
}

td.tl_status_need_info {
	padding: 4px 4px 4px 4px;
	background-color: #FF6633;
}

/* ------------ BUTTONS ------------ */

a.tl_button {
	background-image: url(images/button.gif);
	background-repeat: no-repeat;
	width: 80px;
	height: 20px;
	padding-top: 3px;
	margin: 0px 2px 0px 2px;
	display: block;
	float: right;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
a.tl_button:hover {
	color: #3F5E88;
}

a.tl_button_big {
	background-image: url(images/button_big.gif);
	background-repeat: no-repeat;
	width: 120px;
	height: 20px;
	padding-top: 3px;
	margin: 0px 2px 0px 2px;
	display: block;
	float: right;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
a.tl_button_big:hover {
	color: #3F5E88;
}

/* ------------ MESSAGES ------------ */

span.tl_msg_error {
	color: #f00;
	font-weight: bold;
}
span.tl_msg_warning {
	color: #f90;
	font-weight: bold;
}
span.tl_msg_notice {
	color: #008000;
	font-weight: bold;
}
